@import "estilos";

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;

    img {
        width: 30%;
        
    }
}
.grupo{
    display: flex;
    flex-direction: column;
    width: 25em;  
    margin-bottom: 1.5em;
    label{
        font-size: 1.5em;
        color: $color-titulo;
    }
}