@import "componentes/reset.scss";
@import "componentes/variables.scss";
body{
    margin:0 auto;

}
header {
    background-color: $color-titulo;
    color: white;
    p{
        text-align: center;
    }
}
.login{

    nav{
        text-align:  right;
        a {
            margin-right: 0.5em;
            color: white;
        }
        li{
            display: inline-block;
        }
    }
}   
.logotipo {
        display: flex;    
        justify-content: space-around;
        align-items: center;
        margin-left: 1em;
        margin-right: 1em;
        img{
            width: 155px;
        }
    
}
.navegacion_principal {
    background-color: $color-secundario;
    border-top: 2px solid black;
    nav{ 
        display: flex;
        justify-content: space-around;
        padding: 2em;
        li{
            display: inline-block;
            
        }
        a {
            padding: 1em;
            display: block;
            color: white;
            text-decoration: none;
            &:hover{
                background-color:lighten($color: yellow, $amount: 16%);
            }
        }
    }
}