@import "componentes/reset.scss";
@import "componentes/variables.scss";
body{
    width: 80%;
    margin:0 auto;

}
.login{

    
    nav{
        text-align:  right;
        a {
            margin-right: 0.5em;
        }
    }
}