@import "estilos";

.producto{
    background-color: $color-producto; /*Se utilizarán variables para estas cosas*/
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1s;
    p{
        color: white;
        width: 50%;
        font-size: 1.2em;
        align-self: center;
    }
    &:hover{
        background-color: $color-titulo;
        img{
            //opacity: 0.5;
            
        }
    }
}