@import "estilos";

.productos {
    background-color: $color-producto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.productos:first-child {
    padding-top: 2em;
}
.productos:last-child {
    padding-bottom: 2em;
}

.producto {
    display: flex;
    flex: 1;
    transition: 1s;

    p {
        color: white;
        width: 50%;
        font-size: 1.2em;
        align-self: center;
    }

    &:hover {
        background-color: $color-titulo;

        img {
            //opacity: 0.5;
        }
    }
}
