doctype html
head
  meta(charset='UTF-8')
  title Titulo
  
  block estilos
body
header
    .logotipo
      img(src='multimedia/logo1.png' alt='logo Taller')
      h1(class="icon-wrench")  MECANICOS DESDE EL 73
.navegacion_principal
    nav
      ul
        li
          a(href="index.html") Inicio
        li
          a(href="servicios.html") Servicios
        li
          a(href='contactanos.html') Contactanos
        li
          a(href='sobre_nosotros.html') Sobre Nosotros
        li
          a(href='quienes_somos.html') ¿Quienes Somos?
main
  block contenido
footer
  .informacion
    .imagen
      img(src='multimedia/taller.jpg')
    .horario
      h3 HORARIO TALLER
      p de Lunes a Viernes
      p 9:00h a 14:00h / 16:00h a 20:30h
      p Sábados
      p 9:00h a 13:00h
    .contacto
      h3 Datos de Contacto
      p Taller Gonzalez
      p c/Rotonda del Gitano Nº 12
      p info@tallergonzalez.org
      p +34 920 293 166
  .redes
    .copyr
      p Copyright 2020 Talleres Gonzalez
      p Daniel Javier y Jose
    nav
      ul
        li
          a(href='') Aviso Legal
        li
          a(href='') Política de Privacidad
        li
          
          a(href='') Ubicación y Contacto
        li
          span(class="icon-whatsapp") 
          a(href='') Whats App
        li
          span(class="icon-facebook") 
          a(href='') Facebook
        li
          span(class="icon-instagram") 
          a(href='') Instagram
