doctype html
head
  meta(charset='UTF-8')
  title Titulo
  
  block estilos
body
header
  .login
    nav
      ul
        li
          a(href='#') Iniciar Sesión
        li
          a(href='#') Registrarse
        li
          a(href='#') Mi Perfil
    .logotipo
      img(src='multimedia/logo1.png' alt='logo Taller')
      
      
.navegacion_principal
    nav
      ul
        li
          a(href="index.html") Inicio
        li
          a(href="servicios.html") Servicios
        li
          a(href='contactanos.html') Contactanos
        li
          a(href='') Sobre Nosotros
        li
          a(href='') Nuestro Trabajo
main
  block contenido
footer
  .informacion
    .imagen
      img(src='multimedia/taller.jpg')
    .horario
      h3 HORARIO TALLER
      p de Lunes a Viernes
      p 9:00h a 14:00h / 16:00h a 20:30h
      p Sábados
      p 9:00h a 13:00h
    .contacto
      h3 Datos de Contacto
      p Taller Gonzalez
      p c/Rotonda del Gitano Nº 12
      p info@tallergonzalez.org
      p +34 920 293 166
  .redes
    .copyr
      p Copyright 2020 Talleres Gonzalez
      p Daniel Javier y Jose
    nav
    ul
      li
        a(href='') Aviso Legal
      li
        a(href='') Política de Privacidad
      li
        a(href='') Ubicación y Contacto
      li
        a(href='') Whats App
      li
        a(href='') Facebook
      li
        a(href='') Instagram
