extends templates/total.pug
block estilos
    link(href="css/contactanos.css" rel="stylesheet")
block contenido
    .presentacion
        img(src="multimedia/logo1.png") 
        
        //Formulario de contacto
        form(method='POST' action='/register')
          .grupo
            label(for='name') Nombre:
            input#name.form-control(type='text', placeholder='first and last' name='fname')
          .grupo
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='femail')
          .grupo
            label(for='Mensage') Mensaje:
            textarea#favoriteBook.form-control(rows='5' placeholder='Mensaje' name='fmensage')

          button.btn.btn-primary(type='submit') Enviar












