extends templates/total.pug
block estilos
    link(href="css/contactanos.css" rel="stylesheet")
block contenido
    .contenido
        .persona
            img(src="multimedia/señor1.png")
            p sadsdas
        .persona
            img(src="multimedia/señor2.png")
            p sadsdas
        .persona
            img(src="multimedia/señor3.png")
            p sadsdas

