extends templates/total.pug
block estilos
    link(href="css/index.css" rel="stylesheet")
block contenido
    .contenido
        .panel1
            a Productos de calidad
        .panel2
            a Nuestros mecánicos
        .tablon
            p(class="atencion") Nuestro muro
            .novedades
                .noticia
                    p Les deseamos desde nuestra compañía, felices fiestas
                .noticia
                    p Les comunicamos que los vehículos con matrícula terminada en AC, por la nueva ordenanza de la DGT, no podemos ofrecerles mantenimiento, disculpen las molestias
                .noticia
                    p Los coches eléctricos están de moda, pero las modas es para los que se dejan llevar, reposta en nuestras gasolineras de confianza!
                .noticia
                    p El propietario del Opel Corsa que aparca en la entrada de nuestras instalaciones, que sepa que vamos a emprender medidas legales ya que hemos adquirido una prohibición de estacionamiento y queremos sacarle partido.     
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3139.819158294084!2d-3.6309674846730373!3d38.09787297970196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2206bd301e86725!2sGonz%C3%A1lez%20Auto%20Reparaciones!5e0!3m2!1ses!2ses!4v1578483798790!5m2!1ses!2ses")
        
            
