extends templates/total.pug
block estilos
    link(href="css/quienes_somos.css" rel="stylesheet")
block contenido
    .persona
        .descripcion

            h2 Nuestros Fantasticos Mecanicos
            p Manuel Garcia, Francisco Cortes, Jose Miguel Jimenez y Mario Lopez son nuestros mecánicos de confianza que lo daran todo por su trabajo.
            div
                img(src="multimedia/señor1.png")
    .persona
        .descripcion
            h2 Nuestro Genial Recepcionista
            p Jose Manuel Fernandez es nuestro recepcionista de confianza el cual te asesorará y te conseguira cita en nuestro fantástico taller.Este hombre es el que mejor nos cae, es un maquina, dejó a su mujer porque los lunes tocaba comer macarrones y a él no le gustaban, un ejemplo a seguir.
            div
                img(src="multimedia/señor2.png")
            
    .persona
        .descripcion

            h2 Nuestra  Experta Analista Financiera
            p Sara Rojas es nuestra fantastica analista financiera ella conseguira los mejores precios y le aconsejara sobre las operaciones que puede hacer con vehículo.
            div
                img(src="multimedia/señor3.png")
        

