extends templates/total.pug

block contenido
    
    .b1
        img(src='multimedia/taller-recepcion.jpg')
        p Aqui le mostramos donde nuestros contables os atenderan
    .b1
        p Aqui le mostramos donde nuestros contables os atenderan
        img(src='multimedia/taller-recepcion.jpg')
    .b1
        img(src='multimedia/taller-recepcion.jpg')
        p Aqui le mostramos donde nuestros contables os atenderan
    .b1
        p Aqui le mostramos donde nuestros contables os atenderan
        img(src='multimedia/taller-recepcion.jpg')

