$color-titulo: #326ba8; /* colores del titulo de la pagina*/
$color-secundario: #009ddc; /* color del nav*/
$color-producto: #02569F; /* color para los productos en servicios*/
$color-panel: #4c5563; /*color utilizado por index*/
$color-noticias: #677387; /*color utilizado por index*/
$color-descripcion:#f8a529;/*color utilizado por quienes somos*/